#about {
    /* background-image: url(../assets/stairs\ left\ side.jpg); */
    /* background-image: url(../assets/plant\ bottom\ left.jpg); */
    /* background-image: url(../assets/laptop.jpg); */
    /* background-image: url(../assets/chair\ at\ bottom\ of\ screen.jpg); */

    
    background-image: url(../assets/lamp\ left\ side.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    background-position-y: -225px;
    /* background-position-y: -250px; */
    /* background-position-x: -500px; */
    background-position-x: -280px;
    border-radius: 0 2px 2px 0;

        border-bottom-color: #547638;
    border-bottom-style: solid;
    border-width: 3px;

}

#about .container {
    height: 26.9em;
    width: 63em;
    /* padding-top: 10em; */
    margin-top: 13em;
    float: right;
    font-size: 1em;
    background-color: white;
    color: black;
    box-shadow: grey 0 3px 15px 0.5px;
    border-radius: 2px;
    border-left-color: #547638;
    border-left-style: solid;
    border-bottom-color: #547638;
    border-bottom-style: solid;
    border-top-color: #547638;
    border-top-style: solid;
    border-width: 3px;
}

#about .aboutHeader { /*This is for the about heading*/
    margin: 0;
    padding: 0;
    /* padding: 0 18em 0 0; */
    background-color: transparent;
    text-align: left;
    font-size: 5em;
}

#about .container p {
    padding-right: 1em;
    font-size: 1.3em;
}

#about .container .col-4 {
    padding-left: 0;
}

#about .container .col-8 {
    background-color: white;
    /* background-color: lightblue; */
    /* background: linear-gradient(120deg, lightgreen, lightsteelblue, steelblue 50%); */
    height: 25em;
}

#me img{
    background-attachment: cover;
    height: 25em;
    width: 100%;
    padding: 0;
    z-index: 100;
}

/* #about img {
    border-radius: 2px;
} */