:root {
    --brown: #6d6656;
    --grey: #53565A;
    --black: #272727;

    /* --heading-font: */
}

/* @font-face {
    font-family: 'orangeJuice';
    src: url(../assets/orange\ juice\ 2.0.ttf);
} */